.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
.quarto
.quarto/**
_site
_site/**
/.quarto/
.vscode/
archieved_analyses/
**test*
**/*test*/**
*logs*
**tmp*
**/.ipynb_checkpoints
swap-pane
**/swap-pane
analysis/*rds
analysis/*gz
analysis/*_cache/
analysis/*_files/
analysis/*html
data
plots
code
code/
smk-plots/
smk-plots
.snakemake/*
backup*/
*.pdf
**/*pycache*
**/*pycache*/*
